:root {
    --background-radient1: rgba(200, 150, 50, 1);
    --background-radient2: #fff;
    --color: black;

    --main-bg: rgba(125, 125, 125, 0.25);
    --modal-bg: white;
    --modal-txt: black;
}

.darkmode {
    --background-radient1: rgba(200, 150, 50, 1);
    --background-radient2: #191919;
    --color: white;

    --main-bg: rgba(2, 2, 2, 0.25);
    --modal-bg: #191919;
    --modal-txt: white;
}

body {
    padding: 0;
    min-height: 100vh;
    width: 100%;

    background: url('./bg.png'), radial-gradient(var(--background-radient1), var(--background-radient2));
    background-repeat: no-repeat;
    background-size: cover;
    
    color: var(--color);
    font-family: 'Raleway', sans-serif;
}

@media only screen and (min-width: 998px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding-bottom: 20px;
    }
}

main {
    position: relative;
    background: var(--main-bg);
    color: white;
    box-shadow: 0 10px 25px 0 rgba(135, 109, 31, 0.5);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    h1 {
        text-shadow: 0 2px 2px black;
    }

    &::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        pointer-events: none;

        backdrop-filter: blur(4px);
    }
}

nav {
    .navbar-toggler, .navbar-toggler:active, .navbar-toggler:focus {
        outline: none;
        box-shadow: 0 0 0 transparent;
    }

    i.fa-bars {
        color: var(--color);
    }

    .nav-link {
        color: var(--color);
        text-align: center;

        &:hover, &:active {
            color: orange;
        }
    }

    .theme-item img {
        object-fit: contain;
        height: 30px;
        width: 100%;
        button:active, button:focus {
            outline: none;
            box-shadow: 0 0 0 transparent;
        }
    }
}

form {
    #vault-form {
        height: 50px;
        margin-bottom: 10px;

        input {
            background: transparent;
            color: white;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        
            &:active, &:focus {
                outline: none;
                box-shadow: 0 0 0 transparent;
            }
        }

        :-ms-input-placeholder {
            color: rgb(225, 225, 225);
        }

        ::placeholder {
            color: rgb(225, 225, 225);
            opacity: 1;
        }

        #paste {
            border: 1px solid white;
            padding: 0 24px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            height: 100%;
        }
    }
}

.faucet-button {
    background: transparent;
    color: white;

    border: 1px solid rgb(255, 153, 0);
    border-radius: 10px;

    transition: .2s ease-in-out;

    &:hover {
        background: rgb(255, 153, 0);
        box-shadow: 0 12.5px 25px black;
        border: 1px solid black;
        transform: translateY(-5px) scale(1.05);
    }
}

.theme-color {
    color: rgb(240, 167, 31);
}

.modal-content {
    background: var(--modal-bg);
    color: var(--color);
    border-radius: 10px;
    box-shadow: 0 10px 25px 0 rgba(135, 109, 31, 0.5);

    i {
        color: var(--color);
    }
}

i:hover {
    cursor: pointer;
}

.separator {
    height: 100%;
    width: 1px;
    margin: 0 25px;
    background-color: var(--color);
}

.wallet-address {
    word-wrap: break-word;
}

.h-captcha {
    overflow: hidden;
}

a, a:hover {
    text-decoration: none;
}